<mat-grid-list cols="1" rowHeight="1:1" rowHeight="600px">
    <mat-grid-tile>
        <mat-card id="myCard">
            <h2>Process Transaction CSVs (mt940 format)</h2>
            <p>
                You can upload a csv file or use the provided sample csv file to
                test the application.
            </p>
            <mat-grid-list cols="2" rowHeight="1:1" rowHeight="100px">
                <mat-grid-tile>
                    <div class="upload-btn-wrapper">
                        <button mat-stroked-button color="primary" class="btn">
                            Upload
                        </button>
                        <input
                            type="file"
                            id="file"
                            (change)="onFileSelect($event.target)"
                        />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-stroked-button color="basic" class="btn">
                        Use Sample CSV
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
