<mat-grid-list cols="1" rowHeight="1:1" rowHeight="800px">
    <mat-grid-tile>
        <mat-card id="myCard">
            <h2>Process Transaction CSVs (mt940 format)</h2>
            <p>
                You can upload a csv file or use the provided sample csv file to
                test the application.
            </p>
            <span *ngIf="!TransactionList">
                Please load transactions using the sample the data or a csv file
            </span>
            <span *ngIf="TransactionList">
                <b>{{ TransactionList.length }}</b> transaction were loaded!
            </span>
            <mat-grid-list cols="2" rowHeight="1:1" rowHeight="70px">
                <mat-grid-tile>
                    <div class="upload-btn-wrapper">
                        <button mat-stroked-button color="basic" class="btn">
                            Upload
                        </button>
                        <input
                            type="file"
                            id="file"
                            (change)="onFileSelect($event.target)"
                        />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button
                        mat-stroked-button
                        color="basic"
                        class="btn"
                        (click)="onSampleSelect()"
                    >
                        Use Sample CSV
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <ul *ngIf="TransactionList" style="height: 10em; overflow: auto">
                <mat-divider></mat-divider>
                <li *ngFor="let transaction of TransactionList">
                    <p>Reference: {{ transaction.reference }}</p>
                    <p>Description: {{ transaction.description }}</p>
                </li>
            </ul>
            <button
                mat-stroked-button
                color="primary"
                class="btn"
                (click)="postFile()"
            >
                Process
            </button>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
